:root {
  --head-color: #212121; /*колір заголовків і навігації*/
  --text-color: #757575; /*колір вторинного тексту*/
  --accent-color: #2196f3; /*колір акцентів, частини логотипу, фону кнопок*/
  --background-color: #2f303a; /*головний колір підкладки*/
  --main-light-color: #ffffff; /*білий колір*/
  --main-dark-color: #000000; /*чорний колір*/
  --secondary-bgr-color: #f5f4fa; /*другорядний колір підкладки*/
  --border-color: #eeeeee; /*колір рамок на картинках*/
  --secondary-border-color: #ececec; /*другорядний колір рамки*/
  --block-margin: 30px; /*стандартні відступи між блоками*/
  --section-margin: 94px; /*стандартні відступи між секціями*/
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--head-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*------ Шапка сторінки ------*/

.heder {
  background-color: var(--main-light-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  letter-spacing: 0.03em;
}

.color-logo {
  color: var(--accent-color);
}

.heder-logo {
  color: var(--main-dark-color);
}

.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}

.heder-email:hover,
.heder-email:focus {
  color: var(--accent-color);
}

.heder-tel:hover,
.heder-tel:focus {
  color: var(--accent-color);
}

/*------------правки дз----------*/

a.heder-studia,
a.heder-portfolio {
  color: var(--accent-color);
}

/*------------------------------*/

.heder-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-color);
}

.heder-email,
.heder-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----- Унікальний контент сторінки -----*/
/*------------------ hero ---------------*/
.section-hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89; /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
}

.hero-btn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #2196f3;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*-------------- benefits ------------*/

/*-прихований заголовок-*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*---------------- aktiviti -----------------*/

.aktiviti-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*------------------- team --------------------*/

.section-team {
  background-color: var(--secondary-bgr-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.team-specialist {
  font-size: 16px;
  line-height: 1.9; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-item {
  background-color: var(--main-light-color);
}

/*-------------------footer--------------------*/

.footer {
  background-color: var(--background-color);
}

.footer-logo {
  color: #ffffff;
}

.address {
  font-style: normal;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}

.footer-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-------------------portfolio--------------------*/

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
  background-color: var(--secondary-bgr-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.portfolio-gallery {
  background-color: var(--secondary-bgr-color);
}

.portfolio-list {
  background-color: var(--main-light-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--head-color);
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.88; /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
