:root {
  --head-color: #212121; /*колір заголовків і навігації*/
  --text-color: #757575; /*колір вторинного тексту*/
  --accent-color: #2196f3; /*колір акцентів, частини логотипу, фону кнопок*/
  --background-color: #2f303a; /*головний колір підкладки*/
  --main-light-color: #ffffff; /*білий колір*/
  --main-dark-color: #000000; /*чорний колір*/
  --secondary-bgr-color: #f5f4fa; /*другорядний колір підкладки*/
  --border-color: #eeeeee; /*колір рамок на картинках*/
  --secondary-border-color: #ececec; /*другорядний колір рамки*/
  --block-margin: 30px; /*стандартні відступи між блоками*/
  --section-margin: 94px; /*стандартні відступи між секціями*/
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--head-color);
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------------------------------------- heder ------*/

.header-conteiner {
  display: flex;
  align-items: center;
}

.heder-nav {
  display: flex;
}

.heder-list {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

/*.heder-item:not(:last-child) {
margin-right: 50px;
}*/

.heder {
  background-color: var(--main-light-color);
  border-bottom: 1px solid var(--secondary-border-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  letter-spacing: 0.03em;
}

.color-logo {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.heder-logo {
  color: var(--main-dark-color);
}

.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}

.heder-email:hover,
.heder-email:focus {
  color: var(--accent-color);
}

.heder-tel:hover,
.heder-tel:focus {
  color: var(--accent-color);
}

a.heder-studia,
a.heder-portfolio {
  color: var(--accent-color);
}

.heder-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-color);
  padding: 32px 0;
}

.heder-email,
.heder-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav {
  align-items: center;
}

/*----- Унікальний контент сторінки -----*/
/*----------------------------------------------- hero -----*/
.section-hero {
  background-color: var(--background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  display: block;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89; /* identical to box height, or 188% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: #2196f3;
  min-width: 216px;

  border: transparent;
  cursor: pointer;
  margin: 0px auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*-------------------------------------------- benefits ------------*/

.benefits-list {
  display: flex;
  margin-left: auto;
  column-gap: 30px;
}

.benefits-item {
  width: 270px;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

/*-прихований заголовок-*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*--------------------------------------------- aktiviti -----------------*/

.aktiviti-list {
  display: flex;
  margin-left: auto;
  column-gap: 30px;
}

.aktiviti-item {
  width: calc((100% - 90px) / 4 );
}

.aktiviti-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-aktiviti {
  padding-top: 0;
}

/*---------------------------------------------- team --------------------*/

.team-list {
  display: flex;
  margin-left: auto;
  column-gap: 30px;
}

.team-name {
  padding: 30px 10px 30px 10px;
}

.section-team {
  background-color: var(--secondary-bgr-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-specialist {
  font-size: 16px;
  line-height: 1.9; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-item {
  background-color: var(--main-light-color);
}

/*------------------------------------------------footer--------------------*/

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.footer-logo {
  color: #ffffff;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}

.footer-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-------------------portfolio--------------------*/

.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  display: inline-block;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
  background-color: var(--secondary-bgr-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.portfolio-gallery {
  background-color: var(--secondary-bgr-color);
}

.portfolio-list {
  background-color: var(--main-light-color);

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.batton-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3 );
}

.portfolio-text {
  padding: 20px 24px;
  border-top: transparent;
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--head-color);
  margin-bottom: 4px;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.88; /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.visually-hidden {
  margin-bottom: 4px;
}
